body {
  background-image: url(./jeremy-bishop-8xznAGy4HcY-unsplash.jpg);
  background-size: cover;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-style: oblique;
  font-family: sans-serif;
  color: blue;
}
ul,
li > a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: crimson;
}
.chapter-list {
  font-family: Arial, Helvetica, sans-serif
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  visibility: hidden;
}
/* Ẩn mặc định */
.typing-container
{
  font-family: Arial, Helvetica, sans-serif
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  display: inline-block;
  visibility: hidden;
}
.typing-text {
  display: inline-block;
}

/* Hiện dòng gõ chữ */
#toggle:checked ~ .container .typing-container {
  visibility: visible;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 0;
  animation: typing 4s steps(46, end) forwards, caret-blink 0.7s step-end 6 forwards;
  border-right: none;
}

/* Sau khi gõ xong ~1s thì danh sách hiện ra */
#toggle:checked ~ .container .chapter-list {
  opacity: 0;
  visibility: visible;
  animation: fadeIn 1s ease 4.5s forwards;
}

/* Gõ từng chữ */
@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 46ch;
  } /* số lượng ký tự, chỉnh lại nếu nội dung thay đổi */
}

/* Dấu nhấp nháy nhấp 6 lần rồi ngưng */
@keyframes caret-blink {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* Hiện danh sách */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
h3 {
  color: blue;
  font-size: 30px;
}
